<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-8 bg-info ml-3 mt-3 rounded">
                <h3 class="display-4 m-4 text-white">Dojo Room</h3>
            </div>
            <div class="col-3 text-center ml-5 mt-5">
                <a class="h3 text-decoration-none text-info p-3 border-right border-dark" href="/ninjas">Ninjas</a>
                <a class="h3 text-decoration-none text-info p-3" href="/logout">Logout</a>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <br>{{message}}</br>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <hr class="bg-dark">
        <div class="row">
            <div class="col-2 mx-4 mt-3">
                <!-- <img class="ml-2" src="../images/dojo.jpeg" alt="A picture of dojo" width="200px" height="200px"> -->
                <img class="ml-2" src="{{ url_for('static', filename='images/dojo.jpeg') }}" alt="A picture of dojo" width="200px" height="200px">
                <form action="/upload_img" method="POST" enctype="multipart/form-data">
                    <div class="form-group mt-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="image">
                            <label class="custom-file-label" for ="image">Select An Image</label>
                        </div>
                        <button class="btn bg-primary text-white mt-3" type="submit" value="submit">Upload/Change</button>
                    </div>                           
                </form>
            </div>
            <div class="col-5 ml-5 mt-5">
                <h3>Ninja Bio:</h3>
                <div class="card mt-4">
                    <div class="card-body">
                        <p>Hello World</p>
                    </div>
                </div>
                <div class="m-5">
                    <h5>Ninjas Who Follow You:</h5>
                    <!-- <img class="mt-4 ml-5" src="../images/dojo.jpeg" width="100px" height="100px"> -->
                    <img class="mt-4 ml-5" src="{{ url_for('static', filename='images/dojo.jpeg') }}" width="100px" height="100px">
                </div>
            </div>
            <div class="col">
                <h3 class="text-center p-3">Welcome, {{user_data['first_name']}} {{user_data['last_name']}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col p-3 mx-3">
                <h2>Whisper... Share Your Secret Here:</h2>
                <form action="/write_whisper" method="POST">
                    <textarea class="form-control w-50" name="whisper" placeholder="Shhh..."></textarea>
                    <input class="mt-3" type="submit" value="Post">
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6 mx-3">
                <h2>Your Feed:</h2>
                <p class="font-weight-bold mt-5">Ivan Mallory whispers:</p>
                <div class="card ml-5">
                    <div class="card-body">
                        <p>Hello World!!!</p>
                    </div>
                </div>         
                <!-- <p>{#{}#} likes.</p>
                <p><a href="/unlike_whisper/{#{}#}"><button>Unlike</button></a></p>
                <p><a href="/like_whisper/{#{}#}"><button>Like</button></a></p>
                <p><a href="/delete_whisper/{#{}#}"><button>Delete</button></a></p>
                <p><a href="/edit_whisper/{#{}#}"><button>Edit</button></a></p> -->
            </div>
        </div>
    </div>
</body>
</html>