<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid p-1" style="background-image: url({{ url_for('static', filename='images/japan.jpg') }})">
        <div class="row">
            <div class="col-8 bg-info m-3 rounded">
                <h3 class="display-4 m-4 text-white">Dojo Room</h3>
            </div>
            <div class="col-3 text-center ml-5 mt-5">
                <a class="h3 text-decoration-none text-white p-3 border-right border-dark" href="/ninjas">Ninjas</a>
                <a class="h3 text-decoration-none text-white p-3" href="/logout">Logout</a>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <br>{{message}}</br>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <hr class="bg-dark">
        <div class="row">
            <div class="col-2 mx-4 mt-3">
                <!-- <img class="ml-2" src="../images/dojo.jpeg" alt="A picture of dojo" width="200px" height="200px"> -->
                {% if user_data['avatar'] %}
                    <img class="ml-2 img-thumbnail" src="/static/images/{{user_data['avatar']}}" alt="Hello World" width="200px" height="300px">
                {% else %}
                    <img class="ml-2 img-thumbnail" src="/static/images/ninja.jpg" alt="Hello World" width="200px" height="300px">
                {% endif %}
                <form action="/upload_img" method="POST" enctype="multipart/form-data">
                    <div class="form-group mt-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="file" id="image">
                            <label class="custom-file-label" for ="image">Select An Image</label>
                        </div>
                        <button class="btn bg-primary text-white mt-3" type="submit" value="submit">Upload/Change</button>
                    </div>                           
                </form>
            </div>
            <div class="col-5 ml-5 mt-5">
                <div class="bg-light p-3 rounded">
                    <h3>Your Bio:</h3>
                    <div class="card m-3 text-dark">
                        <div class="card-body">
                            {% if user_data['bio'] %}
                                <p>{{user_data['bio']}}</p>
                            {% else %}
                                <p>Update Your Bio!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                {{user_data}}
                <h3 class="text-center p-3">Welcome, {{user_data['first_name']}} {{user_data['last_name']}}</h3>
                <button class="btn bg-primary mt-5"><a class="text-decoration-none text-white" href="/update_bio">Update Bio</a></button>
            </div>
        </div>
        <div class="row">
            <div class="col p-3 mx-3">
                <h5>Ninjas Who Follow You:</h5>
                <!-- <img class="mt-4 ml-5" src="../images/dojo.jpeg" width="100px" height="100px"> -->
                <img class="mt-4 ml-5 img-thumbnail" src="/static/images/{{user_data['avatar']}}" width="100px" height="100px">
            </div>
        </div>
        <button id ="show">Show/Hide</button>
        <div class="row m-3" id = "whisper">
            <div class="col-5 p-3 bg-light rounded">
                <h2>Whisper... Share Your Secret Here:</h2>
                <form action="/write_whisper" method="POST">
                    <textarea class="form-control" style="height: 100px" name="a_whisper" placeholder="Shhh..."></textarea>
                    <button class="btn bg-primary text-white mt-3" type="submit" value="submit">Post</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row m-3" >
            <div class="col-5 p-3 bg-light rounded">
                <h2>Your Feed:</h2>
                <div class="card ml-5">
                    <div class="card-body">
                    {% if whispers %}
                        {% for dec_whisper in dec_whispers | sort(attribute='message_id', reverse=True) %}
                            <p class="font-weight-bold mt-5">{{dec_whisper['first_name']}} {{dec_whisper['last_name']}} whispers:</p>
                            <!-- <p>Hello World!!!</p> -->
                            <p>{{dec_whisper['message']}}</p>
                            <p>{{dec_whisper['likes']}} people like this</p>
                            {% if dec_whisper.author_id == session['user_id'] %}
                                <p><button><a href="/delete_whisper/{{dec_whisper['message_id']}}">Delete</a></button></p>
                            {% endif %}
                            {% if dec_whisper.author_id != session['user_id'] %}
                                {% if dec_whisper['author_id'] not in followed_ids %}
                                    <p><button id = "bFollow"><a href="/follow/{{dec_whisper['author_id']}}">Follow {{dec_whisper['first_name']}} {{dec_whisper['last_name']}}</a></button id></p>
                                {% else %}
                                <p><button id = "bUnfollow"><a href="/unfollow/{{dec_whisper['author_id']}}">Unfollow {{dec_whisper['first_name']}} {{dec_whisper['last_name']}}</a></button></p>
                            {% endif %}
                                {% endif %}
                        {% endfor %}
                    {% else %}
                        <h5 class="text-dark">Share your secrets!</h5>
                    {% endif %}
                    </div>
                </div>         
                <!-- <p>{#{}#} likes.</p>
                <p><a href="/unlike_whisper/{#{}#}"><button>Unlike</button></a></p>
                <p><a href="/like_whisper/{#{}#}"><button>Like</button></a></p>
                <p><a href="/delete_whisper/{#{}#}"><button>Delete</button></a></p>
                <p><a href="/edit_whisper/{#{}#}"><button>Edit</button></a></p> -->
            </div>
        </div>
        <div class="row bg-info m-3 rounded">
            <div class="col text-center">
                <button class="btn m-3 bg-dark"><a class="h5 text-decoration-none text-white" href="/contact_us">Contact Us</a></button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $("#whisper").fadeOut();
            $("#show").click(function() {
                $("#whisper").fadeToggle(1000);
                });
                $('button').click(function(){
                $("bFollow").load("dashboard.html");
            });
        });
    </script>
</body>
</html>